
/* index.html */
.body-index {
    background-image: url(images/fotoprincipal2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.w-45 {
    width: 45%;
    margin: 2rem;
}

/* fin index.html */

/* contacto.html */



/* fin contacto.html */

/* footer igual todas las secciones */
.instagram {
    position: fixed;
    bottom: 0%;
    right: 0%;
    width: 4%;
}

.whatsapp {
    position: fixed;
    bottom: 0%;
    right: 5%;
    width: 3.5%;
}

/* quienesomos.html */
.loremquienesomos {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}
.video {
    display: flex;
    justify-content: center;
    padding: 100px;
}
/* fin quienesomos.html */