
/* index.html */
.body-index {
    background-image: url(images/fotoprincipal2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.w-45 {
    width: 45%;
    margin: 2rem;
}

/* fin index.html */