/* header igual todas las paginas */
.titulo {
  font-family: 'Indie Flower', cursive;
  padding: 0 0 0 10px;
}
.subtitulo {
  font-family: 'Grape Nuts', cursive;
}
/* seccion igual todas las paginas*/
.animate {
    font-family: 'Hurricane', cursive;
    
}
/* fin seccion igual todas las paginas*/

/* index.html */
.body-index {
    background-image: url(images/fotos-index/fotoprincipal2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.loreminicio {
    color: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding: 50px;
}
/*
.w-50 {
    width: 45%;
    margin: 2rem;
}
*/
/* fin index.html */

/* quienesomos.html */
.body-qiuenesomos {
  background-color: #0e375041;
}
.imagequienessomos {
    padding: 50px;
}
.loremquienesomos {
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
    padding: 50px;
}
.video {
    display: flex;
    justify-content: center;
    padding: 100px;
}
/* fin quienesomos.html */

/* blog.html */
.body-blog {
  background-color: beige;
}
.loremblog {
    color: rgb(140, 0, 255);
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 50px 50px 50px 50px;
}
/* fin blog.html */
/* escriben.html */
.body-escriben {
  background-color: azure;
}
/* fin escriben.html */

/* talleres.html */
.body-talleres {
  background-color: antiquewhite;
}
/* fin talleres.html */
/* contacto.html */
.body-contacto {
    background-color: #d1f3e7;
}
#title-Tag-Line {
    font-size: 20px;
  }
  /* .card-item__bg{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: block;
    position: relative;
    margin: 30px auto;
    transform: translate(0px, 50px);
    z-index: 5;
  } */
  
  /* form animation starts */
  .form {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
    border-top: 5px solid #0e3721;
  /*   z-index: 1; */
    animation: bounce 1.5s infinite;
  }
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  
  .title{
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
  }
  .termsConditions{
    margin: 0 auto 5px 80px;
  }
  
  .pageTitle{
    font-size: 2em;
    font-weight: bold;
  }
  .secondaryTitle{
    color: grey;
  }
  
  .name {
    background-color: #ebebeb;
    color: rgb(7, 7, 7);
  }
  .name:hover {
    border-bottom: 5px solid #0e3721;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .email {
    background-color: #ebebeb;
    height: 2em;
  }
  
  .email:hover {
    border-bottom: 5px solid #0e3721;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .message {
    background-color: #ebebeb;
    overflow: hidden;
    height: 10rem;
  }
  
  .message:hover {
    border-bottom: 5px solid #0e3721;
    height: 12em;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
  }
  
  .submit {
    width: 200px;
    color: white;
    background-color: #0e3721;
    font-size: 20px;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #0e3750;
    border-radius: 0%;
  }
  
  @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
  } 



/* fin contacto.html */

/* footer igual todas las secciones */
.instagram {
    position: fixed;
    bottom: 0%;
    right: 0%;
    width: 4%;
}

.whatsapp {
    position: fixed;
    bottom: 0%;
    right: 5%;
    width: 3.5%;
}
